* {
	/*box-sizing: border-box;*/
}

body {
	margin:0;

}
hr{
	border-top: 0.0625em solid black;

}
table {
	width: 100%;
}
td {
	width: 50%;
}
p {
	font-size: 1vw;
}

#mehul {
	margin-left:0.9375em;
}
#text1 {
	font-size:1.625em;
	text-align:center;
	display:inline-block;
	font-family:verdana;
}
.pics{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 45%;
}
#information{
	font-size:1.625em;
	margin-bottom:0em; 
}
footer{
	background-color:rgb(152 251 152)
}
#meth{
	font-size:1.625em;
}
#moto{
	font-size:1.625em;
}
.method{
	font-size:1.125em;
}
#message{
	margin-right:0em;
	width: 100%;
}
#about{
	background:skyblue;
}
#courses{
	background:peachpuff;
}
.topmargin{
	margin-top:1.875em; 
}
.biggly {
	font-size:1.375em;
}
.geneva{
	font-family:geneva;
}
#info{
	display: grid;
	grid-template-columns: 50% 50%;
}
#tracks{
	margin-left:0.9375em;
}
#block{
	display: flex;
	flex-basis:50% 50%;
	font-size:1.102625em;
}
#toprow {
	/*display:grid;*/
	/*grid-template-columns: 44% 56%;*/
}
#video{
	margin:0;
	padding:0;
}
#signup{
	font-size:3.125em;
	text-decoration:none;
	background:rgb(30 144 255);
	color:white;
	margin-top:0.625em;
	margin-left:3.75em; 
	font-family:verdana;
	padding-top:1.25em;
	padding-bottom:1.25em;
	padding-left:2.8125em;
	padding-right:2.8125em;
}
.center{
	text-align:center;
}

header, section, footer{
	margin:0em;
	padding: 0.625em 2%;
	width: 100%;
}

_::-webkit-full-page-media, _:future, :root .panel {
   background-color:#FFF
}

header{
	background-color:rgb(152,251,152);
}
.text2 {
	flex:100%;
}
.heading{
	font-size:2.5em;
	font-family: "Arial";
	margin:0em;
}
.opening {
	font-size:3.4375em;
	font-family: "tahoma";
	margin-bottom:0.625em;
	margin-top:0em;
}

#opening2{
	font-size:3.125em;
	font-family: "Arial";
	margin:0em;
	padding:0em;
}

.headertext{
	font-size:1.25em;
}
#pcontainer{
	display:grid;
	grid-column-gap: 1.25em;
	grid-template-columns: 50% 50%; 
	margin-left: auto;
  	margin-right: auto;
}
img {
	max-width: 95%;
}
@media (max-width:50em){
	#pcontainer{
		grid-template-columns:50% 50%;
	}
}
